* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

.background {

}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header nav {
    margin-top: 10px;
}

.header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.header nav a:hover {
    text-decoration: underline;
}

.content {
    margin: 30px auto;
    padding: 100px;
    max-width: 1500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 22px;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

hr {
    width: 60%;
}

    

